.intro 
  min-height: 775px

.list__item
  margin-top: 100px
  display: block

.media--left
  float: left
  padding-right: 30px

.media--right
  float: right

.card__title
  +inuit-font-size(28px, 1)
  +font-weight(light)
  text-transform: uppercase

.card__content
  text-align: left